.block_container{
    display: flex;
    gap: 65px;
}

.content_text{
    padding: 240px 57px; 
}

.block_item1{
    width: 361px;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #22356F;
}
.block_item2{
    font-size: 36px;
    font-style: italic;
    line-height: 35px;
    font-weight: 400;
    color: #22356F;   ;
}