.nav_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  
  .nav_menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 68px;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  .nav_menu li {
    cursor: pointer;
  }
  
  .menu_icon {
    display: none;
    font-size: 40px;
    cursor: pointer;
  }
  
  @media (max-width: 1100px){
    .menu_icon {
      display: flex;
    }
  
    .nav_block {
      position: relative;
    }
  
    .nav_menu {
      grid-template-columns: 1fr;
      position: absolute;
      right: 0;
      top: 100%;
      background-color: white;
      transform: translateY(-150%);
    }
  
    .nav_menu.active {
      transform: translateY(0);
    }
  }